<!DOCTYPE html>
<html>
<body style="background-color: #35c4f3;">
<h1 style="text-align: center;">Record Here!</h1><br><br>
<p style="text-align: center;" >Hello! Glad you're back! Sorry that you don't have an audio file, but we are glad you came back,<br>please allow the microphone to record and give the output.</p><br><br>
<div align="center">
<audio id="player" controls></audio>
</div>
</body>

<script>
  const player = document.getElementById('player');

  const handleSuccess = function(stream) {
    if (window.URL) {
      player.srcObject = stream;
    } else {
      player.src = stream;
    }
  };

  navigator.mediaDevices.getUserMedia({ audio: true, video: false })
      .then(handleSuccess);
</script>
</html>