<!DOCTYPE html>
<html>
<body style="background-color: #35c4f3;">
<h1 style="text-align: center;">Record Here!</h1><br><br>
<p style="text-align: center;" >Hello! Glad you're back! Sorry that you don't have an audio file, but we are glad you came back,<br>please allow the microphone to record and give the output.</p><br><br>
<p style="color: red; text-align: center;"><a href="https://voice-recorder-online.com/">Click here to record from a browser.</a></p>
<p style="color: red; text-align: center;">Or please go to http://localhost:5000/ownrec .</p>

</body>
</html>
